:root {
    --grisFooterText: #C7C8C9;
    --grisFooter: #212327;
    --verdeInstitucional: #00AB84;
    --negro: black;
    --blanco: white;
}

img {
    height: 100%;
}

p.card-text {
    text-decoration: none;
    color: var(--negro);
}

a :hover {
    background-color: var(--grisFooterText);
    color: var(--grisFooter);
    text-decoration: aqua;
    /* text-decoration: none !important; */
    /* cursor: pointer; */
    /* text-decoration-color: var(--verdeInstitucional); */
}

.card {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-bottom: 3rem!important;
    padding: 1rem!important;
}