:root {
    --grisFooterText: #C7C8C9;
    --grisFooter: #212327;
    --verdeInstitucional: #00AB84;
    --negro: black;
    --blanco: white;
}

.jumbotron {
    padding: 5%;
}

#div-btn {
    margin: 5%;
}

#div-btn button {
    background-color: var(--verdeInstitucional);
    color: var(--blanco);
}